<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqllite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sqllite.UpdateData"
            android:parentActivityName="com.example.sqllite.UpdateData"/>
        <activity android:name="com.example.sqllite.DetailData"
            android:parentActivityName="com.example.sqllite.DetailData"/>
        <activity android:name="com.example.sqllite.informasi"
            android:parentActivityName="com.example.sqllite.informasi"/>
        <activity android:name="com.example.sqllite.Inputdata"
            android:parentActivityName="com.example.sqllite.Inputdata"/>
        <activity android:name="com.example.sqllite.Mahasiswa"
            android:parentActivityName="com.example.sqllite.Mahasiswa"/>
        <activity android:name="com.example.sqllite.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>